.containerEquip {
  margin-top: 2rem;
  height: auto;

  .infoEquip {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    justify-content: space-evenly;

    .imgEquip {
      z-index: 999;
    }
  }
}

.background {
  background-color: rgb(56, 71, 90);
}
.boxInfoDevelop {
  margin-top: -4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;

  .boxWeTeam {
    padding-top: 5rem;
    height: 24rem;
    color: rgb(232, 230, 227);
    background-image: initial;
    background-color: rgb(56, 71, 90);
  }

  .boxCeo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .boxTitle {
      display: flex;
      width: 20rem;
      justify-content: space-around;
      flex-direction: column;

      .titlephoto-container {
        display: flex;
      }
      .imgCeoJPO {
        position: relative;
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .boxInfoDevelop {
    flex-wrap: wrap;
    gap: 5rem;
  }
  .boxCeo {
    justify-content: space-around;
  }
}
